body {
  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  /*background: color image repeat position/size; - SHORT */

  /*background: url(;/asstes/bg-mobile.jpg) no-repeat top center/cover*/
}

#container {
  width: 360px;
  border: 1px solid red;
  margin: auto; 
  /*Devido uma regra do CSS, as margins dos elementos ficam apenas pelo lado esquerdo e direito./*
  /*  margin-left: auto;
  margin-right: auto;*/
}

#profile {
  text-align: center;
}

#profile img {
  width: 112px;
}