body {
  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  /*background: color image repeat position/size; - SHORT */

  /*background: url(;/asstes/bg-mobile.jpg) no-repeat top center/cover*/
}

#container {
  width: 360px;
  height: 720px;
  border: 1px solid red;
}